<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모우다 유틸</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/boardSubmitForm.js" defer></script>
</head>
<body>
<!--<div class="seat-assign">-->
<!--    <h2>모우다 랜덤 자리 배정</h2>-->
<!--    <h3 th:text="${startFrom.monthValue} + '월 ' + ${startFrom.dayOfMonth} + '일(월) 부터 ' + ${endAt.monthValue} + '월 ' + ${endAt.dayOfMonth} + '일(일) 까지의 자리 배치를 확인합니다.'"></h3>-->
<!--    <h4>자리가 그대로인 사람이 있을 수도 있어요!</h4>-->
<!--    <form id="randomAssignForm" th:action="@{/seats/randomAssigned}" method="post">-->
<!--        <input type="hidden" name="team" th:value="${teamName != null ? teamName : 'mouda'}">-->
<!--        <input type="hidden" name="searchDate" th:value="${searchDate}">-->
<!--        <div class="button-container">-->
<!--            <button type="submit">확인하기</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<div class="pair-matching">
    <h2>모우다 프로그래밍 페어 매칭 & 좌석 배정</h2>
    <h3 th:text="${startFrom.monthValue} + '월 ' + ${startFrom.dayOfMonth} + '일(월) 부터 ' + ${endAt.monthValue} + '월 ' + ${endAt.dayOfMonth} + '일(일) 까지의 페어 매칭 정보를 확인합니다.'"></h3>
    <form id="programmingPairMatchingForm" th:action="@{/pairs/programming}" method="post">
        <input type="hidden" name="team" th:value="${teamName != null ? teamName : 'mouda'}">
        <input type="hidden" name="searchDate" th:value="${searchDate}">
        <div class="button-container">
            <button type="submit">확인하기</button>
        </div>
    </form>
</div>
<br><br>
<div class="pair-matching">
    <h2>모우다 1:1 페어 매칭</h2>
    <h3 th:text="${startFrom.monthValue} + '월 ' + ${startFrom.dayOfMonth} + '일(월) 부터 ' + ${endAt.monthValue} + '월 ' + ${endAt.dayOfMonth} + '일(일) 까지의 페어 매칭 정보를 확인합니다.'"></h3>
    <form id="pairMatchingForm" th:action="@{/pairs/randomMatching}" method="post">
        <input type="hidden" name="team" th:value="${teamName != null ? teamName : 'mouda'}">
        <input type="hidden" name="searchDate" th:value="${searchDate}">
        <div class="button-container">
            <button type="submit">확인하기</button>
        </div>
    </form>
</div>
<br><br>
<div class="board">
    <h2>모우다 게시판</h2>
    <h3>자유롭게 글을 작성하세요!</h3>
    <h4>작성자는 최대 5글자, 내용은 최대 100글자까지 가능!</h4>
    <form id="boardForm">
        <input type="hidden" name="team" th:value="${teamName != null ? teamName : 'mouda'}">
        <div class="form-group">
            <label for="author">작성자</label>
            <input type="text" id="author" name="author" required>
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea id="content" name="content" required></textarea>
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" id="isPublic" name="isPublic" checked>
                팀원에게 공유되어도 괜찮아요!
            </label>
        </div>
        <div class="button-container">
            <button type="submit">제출하기</button>
        </div>
    </form>
</div>
</body>
</html>
