<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모우다 유틸</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="seat-assign">
    <h2>모우다 랜덤 자리 배정</h2>
    <h3 th:text="${startFrom.monthValue} + '월 ' + ${startFrom.dayOfMonth} + '일(월) 부터 ' + ${endAt.monthValue} + '월 ' + ${endAt.dayOfMonth} + '일(일) 까지의 자리 배치를 확인합니다.'"></h3>
    <h4>자리가 그대로인 사람이 있을 수도 있어요!</h4>
    <form id="randomAssignForm" th:action="@{/seats/randomAssigned}" method="post">
        <input type="hidden" name="team" th:value="${teamName != null ? teamName : 'mouda'}">
        <input type="hidden" name="searchDate" th:value="${searchDate}">
        <div class="button-container">
            <button type="submit">확인하기</button>
        </div>
    </form>
</div>
</body>
</html>
