<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>페어 매칭 결과</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="pair-matching-result">
    <div class="matching">
        <h1>페어 매칭 결과</h1>
        <br>
        <h3>페어 1</h3>
        <br>
        <table>
            <tr>
                <td th:text="${pairs[0].name1()}"></td>
                <td th:text="${pairs[0].name2()}"></td>
            </tr>
        </table>
        <br>
        <h3>페어 2</h3>
        <table>
            <tr>
                <td th:text="${pairs[1].name1()}"></td>
                <td th:text="${pairs[1].name2()}"></td>
            </tr>
        </table>
        <br>
        <h3>페어 3</h3>
        <table>
            <tr>
                <td th:text="${pairs[2].name1()}"></td>
                <td th:text="${pairs[2].name2()}"></td>
            </tr>
        </table>
        <br>
        <h3>페어 4</h3>
        <table>
            <tr>
                <td th:text="${pairs[3].name1()}"></td>
                <td th:text="${pairs[3].name2()}"></td>
            </tr>
        </table>
    </div>
    <br>
    <button type="button" onclick="location.href='/'">처음으로</button>
</div>
</body>
</html>
