<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>페어 매칭 결과</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="pair-matching-result">
    <div class="matching">
        <h1>페어 매칭 결과</h1>
        <br>
        <h3>페어 1</h3>
        <br>
        <table>
            <tr>
                <td>김철수</td>
                <td>이영희</td>
            </tr>
        </table>
        <br>
        <h3>페어 2</h3>
        <table>
            <tr>
                <td>박민수</td>
                <td>최지현</td>
            </tr>
        </table>
        <br>
        <h3>페어 3</h3>
        <table>
            <tr>
                <td>송혜교</td>
                <td>김수현</td>
            </tr>
        </table>
        <br>
        <h3>페어 4</h3>
        <table>
            <tr>
                <td>박보검</td>
                <td>수지</td>
            </tr>
        </table>
    </div>
    <br>
    <button type="button" onclick="location.href='/'">처음으로</button>
</div>
</body>
</html>
